table {
  width: 640px;
  height: 640px;
  border: 1px solid black;
  border-spacing: 0;
}

td {
  width: 64px;
  height: 64px;
}

.gray {
  background: #ccc;
  }

.white {
  background: #fff;
}

.green {
  background: green;
}
