.slidercl {
  margin: 0 auto;
  display: flex;
  width: 500px;
  height: 450px;
  border: 1px solid green;
  position: relative;
}

.button1, .button2 {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.button2 {
  transform: scale(-1, 1);
}

.buttons {
  display: flex;
  width: 500px;
  justify-content: space-between;
  position: absolute;
  /* left: 30%; */
  top: 40%;
  /* border: 1px solid brown; */
}

img {
  /* display: block; */
  overflow: hidden;

}
